/* IMPORTS, RESETS AND DEFAULTS */

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Alegreya Sans SC", sans-serif;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

button,
audio {
	background: white;
	padding: 0.5em;
	font-family: "Alegreya Sans SC", sans-serif;
}

button:active {
	box-shadow: inset 0px 0px 5px #c1c1c1;
}

audio,
button:focus {
	outline: none;
}

p {
	font-family: "Lora", serif;
	font-size: 15px;
	font-weight: 400;
}

button:hover {
	cursor: pointer;
}

/* NAVIGATION BAR */

.nav {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	border-bottom: 0.5px solid lightgrey;
	background: white;
}

.nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 100%;
}

.nav li {
	list-style: none;
	padding: 0 3em 0 3em;
	font-weight: 500;
	font-size: 1.3em;
}

.nav li:hover a {
	border-bottom: 1px solid lightgrey;
}

.nav a {
	text-decoration: none;
	color: black;
	padding-bottom: 0.1em;
}

.nav img {
	position: fixed;
	top: -6px;
	left: -7px;
	height: 70px;
	z-index: 2;
}

/* LANDING PAGE */

.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: white;
	font-family: "Pacifico", cursive;
	font-size: 5em;
}

/* TODOS PAGE */

.todos-landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 100%;
	background: white;
}

input[type="text"] {
	background: lightgrey;
	border: none;
	width: 50em;
	height: 3em;
	border-radius: 6px;
	padding-left: 1em;
	font-family: "Lora", serif;
	font-weight: 400;
}

input[type="text"]:focus {
	outline: none;
}

input[type="submit"] {
	display: none;
}

.todos {
	background: white;
	min-width: 25em;
	max-width: 80em;
	margin: 3.5em auto;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0em 0.5em 0.2em rgba(0, 0, 0, 0.1);
	border: 1px solid lightgrey;
}

.add-todo {
	margin-top: 7em;
}

.item {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f1f1f1;
	text-overflow: wrap;
}

.item:last-child {
	border-bottom: 0;
}

.item-active p {
	background: #f9f9f9;
	text-decoration: line-through;
}

input[type="checkbox"] {
	margin: 20px;
}

.todos p {
	margin: 0;
	padding: 20px;
	transition: background 0.2s;
	flex: 1;
	border-left: 1px solid lightgrey;
}

.no-todos {
	margin-top: 3.5em;
}

/* CANVAS PAGE */

.canvas-landing {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	background: white;
}

.canvas {
	height: 75%;
	width: 85%;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid lightgrey;
}

.canvas-inputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 5em;
	width: 60%;
}

.canvas-inputs input {
	width: 7em;
	margin: 1em;
}

.canvas-inputs button {
	width: 7em;
	height: 2.5em;
}

/* MEMOS PAGE */

.memos-landing {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	background: white;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 7em;
	width: 9em;
}

.recordings {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4em;
	background: white;
	min-width: 25em;
	max-width: 100em;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0em 0.5em 0.2em rgba(0, 0, 0, 0.1);
	border: 1px solid lightgrey;
}

.recording {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

.recording:last-child {
	border-bottom: none;
}

/* BUTTONS */

.todos button {
	background: white;
	border: none;
	margin: 1.5em;
	color: white;
}

.todos div:hover button {
	color: black;
}

.todos button:hover {
	background: lightgrey;
}

.button-container button {
	width: 4.5em;
	border: 1px solid lightgrey;
}

.recordings-remove {
	padding: 0.5em;
	margin: 1.5em;
	border: none;
	color: white;
}

.recording:hover .recordings-remove {
	color: black;
}

.recordings-remove:hover {
	background: lightgrey;
}

.stop-active {
	background: rgb(255, 0, 0);
}
